.movie-details1 {
    padding: 20px;
    border-radius: 10px;
    background: #202125;
    width: auto; 
    height: 100vh; 
    box-sizing: border-box; 
    overflow-y: auto;
  }
  
  
  .trailer {
    margin-top: 20px;
  }
  