.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  
  .movie-carousel {
    width: 100%;
  }
  
  .movie-component {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .movie-poster {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.movie-details {
    width: 60%;
    height: 300px; 
    overflow: auto;
    white-space: normal; 
    text-overflow: clip;
}
