.movie-details1 {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background: #202125;
  width: auto; 
  height: 100vh; 
  box-sizing: border-box; 
  overflow-y: auto;
}

.light-mode .movie-details1 {
  background: #ff9843;
}

.trailer {
  margin-top: 20px;
}
