.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px;
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  box-sizing: border-box;
  z-index: 1;
}

.links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.link {
  text-decoration: none;
  color: inherit; 
  font-size: 20px;
  margin: 0 15px;
  padding: 10px 0;
  transition: color 0.5s ease; 
}

.input {
  width: 30%;
  margin-top: -30px;
  margin-left: auto;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  position: absolute;
  top: -123px;;
  right: 0 ;
  z-index: 2;
  color: inherit; 
}

.links.open {
  display: flex;
}


  @media (max-width: 768px) {
    .nav {
      padding-top: 50px;
    }
  
    .hamburger {
      display: block;
    }
  
    .links {
      flex-direction: column;
      margin-left: 0;
      width: 100%;
      display: none;
      align-items: flex-start;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(2rem);
    }
  
    .links.open {
      display: flex;
      margin-top: 2em;
      position: absolute; 
      left: 0; 
      width: 100%; 
    }
  
    .link {
      text-align: center;
      padding: 20px;
      border-top: none; 
    }
  }
  


.nav.light-mode {
  background-color: #ff6347; 
  color: #000000; 
  border-bottom: 3px solid #cc5200; 
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 8px 6px -6px black;
  transition: background-color 0.5s ease, border-color 0.5s ease; 
}

.nav.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff; 
  border-bottom: 3px solid #808080;
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px;
  box-shadow: 0 8px 6px -6px black;
  transition: background-color 0.5s ease, border-color 0.5s ease; 
}
.nav.light-mode .link:hover,
.nav.light-mode .active {
    color: #e4abab;
    transition: color 0.3s ease;
}

.nav.dark-mode .link:hover,
.nav.dark-mode .active {
    color: #ff6347;
    transition: color 0.3s ease;
}