.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px;
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    box-sizing: border-box;
    z-index: 1;
}

.links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0 10px;
}

.input {
    width: 30%;
    margin-top: -30px;
    margin-left: auto;
}
