.movie-container_popular {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  
}

.movie-card_popular {
  width: 250px;
  height: 400px;
  margin: 15px;
  perspective: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  border: 0caps;
  border-radius: 10px;
  cursor: pointer;
}

.movie-card_popular:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-card-inner_popular {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
  
}

.movie-card_popular:hover .movie-card-inner_popular {
  transform: rotateY(180deg);
  
}

.movie-card-front_popular,
.movie-card-back_popular {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 0caps;
  border-radius: 10px;
}

.movie-card-front_popular {
  background-color: #bbb;
  color: black;
}

.movie-card-back_popular {
  background-color: #752112;
  color: white;
  transform: rotateY(180deg);
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.movie-card-back_popular h1 {
  margin-top: 0;
}

.movie-card_popular img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin: 5%;
  border: 0caps;
  border-radius: 10px;
}
