* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fondo.light-mode {
  background-color: #f5f5f5;
  color:black;
}

.fondo.dark-mode {
  background-color: #282c34;
}
button {
  margin-top: 8em; 
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #ff6347;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4500; 
}

.App {
  text-align: center;
}

.fondo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.contenedor-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
}
